@mixin hover() {
    &:hover,
    &:active,
    &:focus {
        background-color: #eeeeee;
        transition: 0.4s;
        box-shadow: inset 0px 0px 20px #000000;
        box-shadow: 0px 0px 20px #c2c2c2;
    }
}

.price::after {
    content: "€";
}

.processingWrapper {
    // margin-top: 100px;
    margin-top: 20px;
    
    .processing {
        display: flex;
        justify-content: center;
        // max-width: 400px;
        margin: 0 auto;
        gap: 20px;

        .stage {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2px;

            span {
                font-size: 1rem;
            }
            .dot {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                border: solid black 1px;
            }

            .checkDot {
                background-color: black;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 15px;
            }
            .checked {
                color: black;
            }

            .unChecked {
                color: gray;
            }
        }

        .line {
            display: none;
            height: 1px;
            width: 50px;
            margin: 0px 10px;
            background-color: black;
            transform: translateY(15px);
        }
    }
}

.cartWrapper {

    .sectionTitle {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: center;
        gap: 10px;
        text-transform: capitalize;
        font-size: 2rem;
        margin-top: 50px;

        h2 {
            margin: 0;
            font-weight: 100;
        }
    }

    .cardItemsWrapper {
        display: flex;
        justify-content: center;
        // align-items: center;
        flex-direction: column;
        margin-bottom: 120px;

        .checkout {
            margin-top: 120px;
            background-color: #e3e3e3;
            padding: 20px;
            border-radius: 10px;
            max-width: 265px;
            
            &Title {
                font-size: 2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                margin-bottom: 20px;
            }

            .orderInfo {
                // background-color: red;
                display: flex;
                flex-direction: column;

                .listItem {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .Qty {
                        margin-right: 8px;
                        &::before {
                            content: "x";
                        }
                    }

                    .checkbox {
                        all: revert;
                        width: 20px;
                        height: 20px;
                    }
                }
            }

            .giftCode {
                text-align: center;
                margin-top: 15px;
                border-top: 1px solid black;
                border-bottom: 1px solid black;
                &Title {
                    font-weight: bold;
                    font-size: 1.3rem;
                }

                &Input {
                    background-color: #ededed;
                    border-radius: 40px;
                    transition: 0.4s;
                    width: 100%;
                    font-size: 0.8rem;
                    border: 1px solid #dfdfdf;
                    margin-bottom: 10px;
                    @include hover(); 
                }

                .termCond {
                    font-size: 8px;
                }
            }

            .priceWrapper {
                margin-top: 20px;

                 .individualSum {
                    display: flex;
                    flex-direction: column;
                    width: 100%;

                    .listItem {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        .itemDetails {
                            display: flex;
                            gap: 20px;
                             
                            .itemQty::before{
                                content: "x";
                            }
                        }
                    }
                 }

                 .totalSum {
                     display: flex;
                     justify-content: space-between;
                     padding-top: 10px;
                     margin-top: 20px;
                     border-top: #000000 1px solid;
                 }
            }
        }
    }
}

.buttonWrapper {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    a {
        margin: auto;
    }
    
    .button {
        padding: 10px 15px;
        margin: auto;
        border-radius: 10px;
        color: white;
    }

    .checkoutBtn {
        background-color: #66b033;
        border: 1px solid #66b033;
        transition: 0.3s ease-in-out;
        &:hover{
            transition: 0.3s ease-in-out;
            background-color: #457b21;
            a {
                color: white;
            }
        }
    }

    .cancelBtn {
        background-color: #982e5500;
        color: #000000;
        &:hover {
            a {
                color: red;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .processingWrapper{
        .processing {
            .line {
                display: block;
            }
        }
    }

    .cartWrapper {
        .sectionTitle {
            justify-content: left;
        }

        .cardItemsWrapper{
            flex-direction: row;
            gap: 30px;
            
            .checkout {
                position: sticky;
                top: 20px;
                height: fit-content;
            }
        }
    }
}


@media screen and (min-width: 1024px) {
    .processingWrapper{
        margin-top: 100px;
        .processing {
            .line {
                display: block;
                width: 90px;
            }
        }
    }
}