.highlight1 {
  color: red;
}

.highlight2 {
  color: yellow;
}

.Newsletter {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.487);
}
.Newsletter .popUp {
  background-color: black;
  color: white;
  text-align: center;
  max-width: 350px;
  border-radius: 10px;
  padding: 20px 10px;
}
.Newsletter .popUpTitle {
  font-size: 30px;
  margin-bottom: 20px;
}
.Newsletter .popUpDesc {
  font-size: 1rem;
}
.Newsletter .popUp .popUpForm {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.Newsletter .popUp .popUpForm .formInput {
  background-color: #ededed;
  border-radius: 40px;
  transition: 0.4s;
  max-width: 80%;
  color: #000000;
}
.Newsletter .popUp .popUpForm .formInput:hover, .Newsletter .popUp .popUpForm .formInput:active, .Newsletter .popUp .popUpForm .formInput:focus {
  background-color: #eeeeee;
  transition: 0.4s;
  box-shadow: inset 0px 0px 20px #000000;
  box-shadow: 0px 0px 20px #c2c2c2;
}
.Newsletter .popUp .popUpForm .formBtn {
  background-color: red;
  padding: 5px 15px;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  border: 2px solid red;
}
.Newsletter .popUp .popUpForm .formBtn:hover {
  transition: 0.3s ease-in-out;
  background-color: #000000;
  color: red;
}

.deliveryWrapper {
  position: fixed;
  right: 0;
  top: 150px;
  height: 40%;
  max-width: 300px;
  bottom: 0;
  z-index: 99;
  display: none;
  align-items: center;
}
.deliveryWrapper .delivery {
  background-color: #000000;
  color: white;
  border-radius: 10px 0 0 10px;
  padding: 20px;
  text-align: center;
  position: relative;
  transform: translateX(100%);
}
.deliveryWrapper .delivery .tag {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  height: 50px;
  width: 50px;
  background-color: #000000;
  position: absolute;
  top: 15px;
  left: -49px;
  border-radius: 10px 0 0 10px;
  cursor: pointer;
}
.deliveryWrapper .delivery .tag i {
  transform: rotate(180deg);
  transition: 0.8s ease-in-out;
}
.deliveryWrapper .deliveryTitle {
  font-size: 30px;
  margin-bottom: 20px;
}
.deliveryWrapper .deliveryDesc {
  font-size: 1rem;
}
.deliveryWrapper .delivery .deliveryIcons {
  margin-top: 20px;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.timer {
  width: 60%;
  height: 50px;
  border: 2px solid white;
  margin: auto;
  position: relative;
  text-align: center;
  margin-top: 30px;
}
.timerTitle {
  position: absolute;
  top: -30%;
  width: 100%;
}
.timerTitle p {
  font-size: 15px;
  padding: 0 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  color: white;
  background-color: #000000;
}
.timer .timerWrapper {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.timer .timerWrapper .timerContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 992px) {
  .deliveryWrapper {
    display: flex;
  }
}/*# sourceMappingURL=popUp.css.map */